<!DOCTYPE html>
<html>
<title> House Price </title>
<meta charset="UTF-8">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="{{url_for('static', filename='logo.jpg')}}" alt="logo" style="width:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index">Know your price</a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link region" href="/get" >Region Trend</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</body>

<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>House Price Prediction</b></h1>
  <p>Welcome to the magnum opus prediction of avenue <span class="w3-tag"></span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src={{url_for('static', filename='vision.png')}} alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Understanding Our Vision</b></h3>
      <h5>Description, <span class="w3-opacity"> April 2022 </span></h5>
    </div>

    <div class="w3-container">
      <p>The correlation between housing prices and the economy is a crucial motivating factor for analyzing and predicting house prices. A property’s value is important in real estate settlements. Housing price movement are not only the concern of buyers and sellers, but it also specifies the current economic situation. Therefore, it is important to derive and predict accommodation prices without bias to help both the buyers and sellers make their conclusions. Customers can use this app to invest in real estate without having to go via an agent. It also reduces the risk associated with the transaction.
</p>
      <div class="w3-row">
        
      </div>
    </div>
  </div>
  <hr>

  <div class="w3-card-4 w3-margin w3-white">
  <img src={{url_for('static', filename='algo1.jpeg')}} alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>Algorithms Used</b></h3>
      <h5>Description, <span class="w3-opacity"> April 2022 </span></h5>
    </div>

    <div class="w3-container">
      <p>There are several algorithms available for this type of regression problem like Linear regression, Stackcv regressor and ensemble techniques like Xgboost and Randomforest.Since the RandomForest is the most powerful.So from the available choices with us we go with the RandomForest which best suits our problem and chanelised our eficciency to a better direction and to boost our model in good faiths of accuracy. </p>
      <div class="w3-row">
       
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src={{url_for('static', filename='contact.jpg')}} style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Contact Us </b></h4>
      <p> Advanced Database Topics <br> Group 1 - Data Slayers <br> Rutvik Lathiya - lathiyar@uwindsor.ca <br> Hiten Patel - patel6j4@uwindsor.ca <br> Het Patel - patel7j4@uwindsor.ca <br> Piyush Garg - garg62@uwindsor.ca <br></p>
    </div>
  </div><hr>
  
    <hr> 
   
    
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
