Flask==2.0.3
matplotlib==2.1.1
numpy==1.13.3
pandas==0.22.0
requests==2.18.4
scikit_learn==1.0.2
gunicorn==19.9.0
h5py==3.1.0
html5lib==1.0.1
httplib2==0.14.0
importlib-metadata==1.5.0
ipykernel==6.4.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==.0.1
jupyter==1.0.0
jupyter-client==7.0.3
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.6.0
Keras-Preprocessing==1.1.2
notebook==6.4.4
pickleshare==0.7.5
Pillow==7.0.0
pip==22.0.3
pymongo==4.0.2
pyspark==3.2.1
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.7.3
python-debian==0.1.36ubuntu1
scikit-learn==1.0.2
scipy==1.7.1
seaborn==0.11.2
sklearn==0.0
spark==0.2.1
system-service==0.3
systemd-python==234
tensorboard==2.6.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
xgboost==0.90
